@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Bebas Neue', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: gray;
}

main {
    display: flex;
    background-color: beige;
}

.containerLocation {
    display: flex;
    padding: 1%;
    margin: 1%;
    border: 2px;
    flex-direction: column;
    min-width: 20%;
    height: 100%;
    background-color: gray;
    border-radius: 15px;
}

.containerWeather {
    display: flex;
    padding: 1%;
    margin: 1%;
    border: 2px;
    min-width: 50%;
    flex-direction: column;
}

.weeklyWeather {
    display: flex;
}

.fullWeek {
display: flex;
min-width: 25%;
margin: 1%;
    border: 12px;
    padding: 1%;
    border-color: black;
    background-color:blue;
    border-radius: 15px;
}
